@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  background-color: #c8d8dd;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.desktop-wr {
  display: block;
  border-radius: 12px;
  background: #F5F5F8;
  box-shadow: -5px -3px 17.5px 0px rgba(255, 255, 255, 0.55), 4px 4px 11.6px 0px rgba(201, 203, 211, 0.12), -4px -1px 13.9px 0px #FFF inset, 2px 3px 4.6px 0px #DFDFE9 inset;
  /*max-width: 1092px;*/
  /*margin-left: auto;
  margin-right: auto;*/
  padding: 32px 32px 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.desktop-wr .section-radio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 53px;
  margin-bottom: 23px;
}
.desktop-wr .radio-btn-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 620px;
}
.desktop-wr .radio-btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border-radius: 50px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.desktop-wr .radio-btn:hover,
.desktop-wr .radio-btn:focus {
  color: #ffffff;
  background-color: #2c8cef;
}
.desktop-wr .deposit-btn {
  color: #2c8cef;
  border: 1px dashed #2c8cef;
  padding: 13px 49px;
}
.desktop-wr .withdrawal-btn {
  color: #ffffff;
  background-color: #2c8cef;
  padding: 13px 65.5px;
}
.desktop-wr .table__nav-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 100px;
  background:#F6F6F9;
  box-shadow: -4px -5px 11px 0px rgba(255, 255, 255, 0.61), 7px 6px 12.8px 0px rgba(221, 224, 233, 0.29), -6px -1px 13.9px 0px #FFF inset, 2px 3px 4.6px 0px #DFDFE9 inset;
  margin-bottom: 28px;
}
.table__nav-list-mob {
  display: none;
}
.desktop-wr .active {
  /*background-color: #ffffff;*/
  border-radius: 100px;
  background: linear-gradient(90deg, #B4E913 0%, #8BCC00 100%);
}
/*.desktop-wr .active .nav-link__text {
  color: #000000;
  border: none;
}*/
.desktop-wr .nav-link-wrapper {
  cursor: pointer;
  /*border-radius: 10px 10px 0 0;
  padding: 14px 38px;*/
  display: flex;
  width: 198px;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.desktop-wr .nav-link__text {
  /*color: #2c8cef;
  font-size: 18px;
  line-height: 1;
  border-bottom: 1px dashed #2c8cef;*/
  color: #43444D;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
/*.desktop-wr .nav-link-wrapper:hover {
  background-color: white;
}*/
.desktop-wr .nav-link-wrapper:hover .nav-link__text {
  /*color: #000000;
  border: none;*/
  color: #9FCE10;
}
.desktop-wr .nav-link-wrapper.active:hover .nav-link__text {
  color: #43444D;
}
.desktop-wr .row-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(7, 1fr);
  /*padding: 20px 10px;*/
  padding: 0 0 28px;
  text-align: left;
  -webkit-box-align: start;
  -ms-flex-align: center;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: center;
  justify-content: center;
  /*background-color: #cad8de;*/
  /*color: #797982;*/
  color: #323238;
  font-size: 14px;
  font-weight: 500;
}
.desktop-wr .row-group-mob {
  display: none;
}
.desktop-wr .row-group.row-group_background {
	color: #797982;
}
/*.desktop-wr .content-container:last-child .row-group:last-child {
	padding-bottom: 0;
}*/
/*.desktop-wr .row-group .col:first-child,
.desktop-wr .row-group .col-name:first-child {
	text-align: left;
}*/
/*.desktop-wr .row-group .col {
	padding-right: 25px;
}*/
.desktop-wr .row-group .col-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  /*text-align: center;*/
  padding: 8px 0;
}
.desktop-wr .row-group .col-name span {
	color: #9FCE10;
}
/*.desktop-wr .row-group:nth-child(2n) {
  background-color: #ffffff;
}*/
/*.desktop-wr .row-group_background {
  background-color: #ffffff;
}*/
.desktop-wr .category-name {
  display: -webkit-box;
  display: -ms-flexbox;
  /*display: flex;*/
  display: block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*color: #ffffff;*/
  color: #43444D;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  /*height: 30px;*/
  height: 27px;
  /*background-color: #2c8cef;*/
  border-bottom: 1px solid #9FCE10;
  margin-bottom: 28px;
}

.smart-wr {
  display: none;
}
.smart-wr .nav-link__text__SMART {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 17px;
  line-height: 1;
  height: 30px;
  background-color: #2c8cef;
  border-radius: 30px;
  padding: 30px;
}
.smart-wr .column-group__SMART {
  display: block;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ffffff;
  width: 90%;
  margin: 30px auto;
  border: 1px solid;
  border-radius: 30px;
}
.smart-wr .column-group__SMART .col-name__SMART {
  padding: 30px;
  display: block;
  font-size: 14px;
  line-height: 1;
  text-align: center;
}
.smart-wr .column-group__SMART .col-name__SMART:not(:nth-last-child(-n + 1)) {
  border-bottom: 1px solid;
}
.smart-wr .nav-link__wr__SMART {
  display: block;
  width: 90%;
  margin: 50px auto 0 auto;
  border: 1px solid;
  text-align: center;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .desktop-wr {
	width: calc(100% - 40px);
	max-width: 768px !important;
	margin-left: 20px !important;
	margin-right: 20px !important;
  }
  .desktop-wr .table__nav-list {
	display: none;
  }
  .nav {
	width: calc(100% - 40px);
	margin-left: auto;
	margin-right: auto;
  }
  .nav .table__nav-list-mob {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	border-radius: 100px;
	background:#F6F6F9;
	box-shadow: -4px -5px 11px 0px rgba(255, 255, 255, 0.61), 7px 6px 12.8px 0px rgba(221, 224, 233, 0.29), -6px -1px 13.9px 0px #FFF inset, 2px 3px 4.6px 0px #DFDFE9 inset;
	margin-bottom: 12px;
	padding: 2px 0 2px 2px;
	width: 100%;
  }
  .nav .active {
	border-radius: 100px;
	background: linear-gradient(90deg, #B4E913 0%, #8BCC00 100%);
  }
  .nav .nav-link-wrapper {
	cursor: pointer;
	width: 33%;
	display: flex;
	padding: 8px 0px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	-webkit-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
  }
  .nav .nav-link__text {
	color: #43444D;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 13px;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
  }
  .nav .nav-link-wrapper:hover .nav-link__text {
	color: #9FCE10;
  }
  .nav .nav-link-wrapper.active:hover .nav-link__text {
	color: #43444D;
  }
  
  .desktop-wr .row-group.row-group_background {
	display: none;
  }
  .desktop-wr .row-group {
	display: none;
  }
  .desktop-wr .row-group-mob {
	display: -ms-grid;
	display: grid;
	border-bottom: 1px solid #E0E1E9;
	padding-bottom: 28px;
	margin-bottom: 28px;
  }
  .desktop-wr .row-group-mob .col-name {
	  font-size: 12px;
	  font-weight: 400;
	  line-height: 16px;
	  color: #797982;
	  margin-bottom: 4px;
  }
  .desktop-wr .row-group-mob .col-name span {
	  color: #9FCE10;
  }
  .desktop-wr .row-group-mob .col {
	  font-size: 15px;
	  font-weight: 600;
	  line-height: 16px;
	  color: #43444D;
	  margin-bottom: 12px;
  }
  /*.desktop-wr .row-group-mob > .col-name {
	  margin-bottom: 6px;
  }*/
  .desktop-wr .row-group-mob > .col {
	  font-size: 20px;
	  font-weight: 600;
	  line-height: 120%;
	  margin-bottom: 24px;
  }
  .desktop-wr .row-group-mob .two-cols {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr);
	grid-template-columns: repeat(2, 1fr);
  }
  .desktop-wr .category-name {
	color: #9FCE10;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
  }
}

/*@media only screen and (max-width: 375px) {
  .desktop-wr {
    display: none;
  }

  .smart-wr {
    display: block;
  }
  .smart-wr .nav-link__wr__SMART .nav-link__text__SMART {
    font-size: 13px;
  }
  .smart-wr .column-group__SMART .col-name__SMART {
    font-size: 8px;
  }
}
@media (max-width: 416px) and (min-width: 375px) {
  .desktop-wr {
    display: none;
  }

  .smart-wr {
    display: block;
  }
  .smart-wr .nav-link__wr__SMART .nav-link__text__SMART {
    font-size: 15px;
  }
  .smart-wr .column-group__SMART .col-name__SMART {
    font-size: 11px;
  }
}
@media (max-width: 768px) and (min-width: 416px) {
  .desktop-wr {
    display: none;
  }

  .smart-wr {
    display: block;
  }
}
@media (max-width: 920px) and (min-width: 768px) {
  .desktop-wr .row-group {
    padding: 20px 20px;
  }
  .desktop-wr .row-group .col-name {
    font-size: 9px;
  }
  .desktop-wr .col {
    font-size: 10px;
  }
}
@media (max-width: 992px) and (min-width: 920px) {
  .desktop-wr .row-group {
    padding: 20px 20px;
  }
  .desktop-wr .row-group .col-name {
    font-size: 10px;
  }
  .desktop-wr .col {
    font-size: 11px;
  }
}
@media (max-width: 1080px) and (min-width: 992px) {
  .desktop-wr .row-group {
    padding: 20px 20px;
  }
  .desktop-wr .row-group .col-name {
    font-size: 11px;
  }
  .desktop-wr .col {
    font-size: 13px;
  }
}*/
